# Build artifacts
bin/
obj/

# VS Code
.vscode/

# Node
node_modules/
src/DebtManager.Web/node_modules/

# Logs
*.log
logs/

# User secrets
**/secrets.json

# OS
.DS_Store

# Publish output
publish/
dist/

# Uploaded files
src/DebtManager.Web/wwwroot/uploads/
/src/DebtManager.Web/appsettings.Development.json
/.vs
/src/DebtManager.Web/Properties
